body{ background-color: #350073;

    color: gainsboro;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 
}
h1 {color:ghostwhite; }
h3{color: blueviolet;}
a {color:crimson;}
img {width: 100%;}
img{border-radius: 10px;}
img{border: #9c0385;}
img{box-shadow: #9c0385;}
